@import "tailwindcss";

span.bg-white.duration-200.ease-in-out.group-data-checked\:translate-x-5.inline-block.pointer-events-none.ring-0.rounded-full.shadow-sm.size-5.transform.transition {
    background-color: white;
}

#content-root {
    position: fixed;
    top: 140px;
    right: 20px;
    width: 600px;
    height: 600px;
    z-index: 101; /* so it's above the page header */
    background-color: #ccc;
    padding: 1rem;
    overflow-y: scroll;
}

.card {
    padding: 2em;
}

table, th, td {
    border: solid 1px grey;
    border-spacing: 0;
}
